<html>

<head>
<title>Incredibly Simple Shopping</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="main.css">

</head>

<body>

<div class="container">

<div class="pb-2 mt-4 mb-2">
	<h1>Buy More!</h1>
</div>

<div class="row col-8">
<table class="table">

<thead>
	<tr>
		<th></th>
		<th>Name</th>
		<th class="price">Price</th>
	</tr>
</thead>

<!-- generate these table rows from the database -->
 <%for (let [i, item] of items.entries()) { %>
<tr>
	<td rowspan="2">
		<img class="thumb" src=<%=item.img_url%>
	</td>
	<td><span class="name"><a href="/item_view/<%=i%>"><%=item.name%></a></span></td>
	<td class="price">$<%=item.price%></td>
</tr>
<tr><td colspan="2"><%=item.description%></td></tr>
<% }%>


<!-- end generating table rows -->

</table>

</div>

</body>

</html>
